<h1>Linkme</h1>
<h2>Log in to start using Linkme</h2>
<form action="/auth/login" method="POST">
   <label for="username"></label>
   <input type="text" id="username" name="username" placeholder="username">
   <br>
   <label for="password"></label>
   <input type="password" id="password" name="password" placeholder="password">
   <br>
   <br>
   <button type="submit">Submit</button>
   <br>
   <a href="/">Forgot your password?</a>
   <hr>
   <h3>Don't have an account?</h3>
   <a href="/signup">Sing up to Linkme</a>


</form>