<a href="/auth/logout">Log out</a>
<a href="/">View your Profile</a>

<h1>Admin page
</h1>
<a href="admin/links">Links</a>
<a href="/settings">Settings</a>
<a href="admin/appearance">Appearance</a>
<a href="admin/analytics">Analytics</a>
<br><br>

<br><br>

<a href="/">Help</a>
<a href="/">Info</a>