<a href="/admin">Admin</a>
<a href="/">View your Profile</a>
<a href="/auth/logout" style="color: red">Log out</a>
<br><br>
APPEAR PAGE

<h3>profile picture</h3>
<button type="submit">Pic an image</button>
<button type="submit">Remove</button>