<a href="/admin">Admin</a>
<a href="/">View your Profile</a>
<a href="/auth/logout" style="color: red">Log out</a>
<br>
<h1>Admin page
</h1>
<a href="/admin/links">My Links</a>
<a href="/settings">User Settings</a>
<a href="/admin/appearance">Appearance</a>
<a href="/admin/analytics">Analytics</a>
<br><br>
<h1>Links</h1>
<h2>Adding a new collection</h2>
<form action="/admin/addcollection" method="POST">

    <label for="collectionName">Collection Name</label>
    <input type="text" id="collectionName" name="collectionName" , placeholder="Collection Name">

    <label for="collectionImage">image</label>
    <input type="text" id="collectionImage" name="collectionImage">

    <button type="submit">Add Collection</button>
</form>

<h2>User Collections:</h2>

{{#each user.groups}}
<div>{{this.groupName}}
    <a href="#">Open Collection</a>
</div>
{{/each}}