<h1>Links</h1>
<h2>Adding Link</h2>
<form action="/admin/link" method="POST">
   <label for="linkTitle">Title</label>
   <input type="text" id="linkTitle" name="linkTitle">
   <label for="linkDescription">Description</label>
   <input type="password" id="linkDescription" name="linkDescription">
   <label for="contentFrom">From</label>
   <input type="password" id="contentFrom" name="contentFrom">
   <label for="linkUrl">URL</label>
   <input type="password" id="linkUrl" name="linkUrl">
   <label for="group">Group</label>
   <input type="password" id="group" name="group">

   <button type="submit">Add Link</button>
</form>

<h2>Current Links</h2>