<a href="/admin">Admin</a>
<a href="/">View your Profile</a>
<a href="/auth/logout" style="color: red">Log out</a>
<br>
<h1>Admin page
</h1>

{{req.user.username}}

<a href="/admin/links">My Links</a>
<a href="/settings">User Settings</a>
<a href="/appearance">Appearance</a>
<a href="/admin/analytics">Analytics</a>
<br><br>
<a href="/admin/collections">collections</a>
<h1>Links</h1>
<h2>Adding Link</h2>
<form action="/admin/addlink" method="POST">

   <label for="linkUrl">URL</label>
   <input type="text" id="linkUrl" name="linkUrl" , placeholder="Paste URL">

   <label for="thumbnailUrl">image</label>
   <input type="text" id="thumbnailUrl" name="thumbnailUrl">

   <label for="linkTitle">Title</label>
   <input type="text" id="linkTitle" name="linkTitle">

   <label for="linkDescription">Description</label>
   <input type="text" id="linkDescription" name="linkDescription">

   <label for="contentFrom">From</label>
   <input type="patextssword" id="contentFrom" name="contentFrom">


   <button type="submit">Add Link</button>
</form>

<h2>Current User Links</h2>

{{#each user.links}}
<div class="admin-links-link">{{this.linkTitle}}
   <a href="#">Update Link</a>
</div>
{{/each}}

<h2>User Categories</h2>
{{#each user.groups}}
<div>{{this.groupName}}</div>
{{/each}}