<div class="homeNav">

    <h1>Linkmee</h1>
    <ul>
        <li><a href="support/faqs">Help</a></li>
        <a href="/">View your Profile</a>
        <a href="/auth/logout">Log out</a>
    </ul>


</div>

<nav class="adminNav">
    <a href="/admin/links">My Links</a>
    <a href="/settings">User Settings</a>
    <a href="/appearance">Appearance</a>
    <a href="/admin/analytics" class="menuNavBold">Analytics</a>
</nav>

NOTIFIC