<h1>Update Password</h1>

<form action="password" method="POST">
    <label for="">Old Password</label>
    <input type="password" name="oldPassword">
    <br>
    <label for="">New Password</label>
    <input type="password" name="newPassword">
    <br>
    <label for="">Confirm New Password</label>
    <input type="password" name="confirmPassword">
    <br>
    <button type="submit">Update your password</button>
</form>

{{#if message}}
<h4>{{message}}</h4>

{{/if}}