<a href="/admin">Admin</a>
<a href="/">View your Profile</a>
<a href="/auth/logout" style="color: red">Log out</a>
<br>
<h1>Admin page
</h1>
<a href="/admin/links">My Links</a>
<a href="/settings">User Settings</a>
<a href="/admin/appearance">Appearance</a>
<a href="/admin/analytics">Analytics</a>
<br><br>

<h1>Update Password</h1>

<form action="password" method="POST">
    <label for="">Old Password</label>
    <input type="password" name="oldPassword">
    <br>
    <label for="">New Password</label>
    <input type="password" name="newPassword">
    <br>
    <label for="">Confirm New Password</label>
    <input type="password" name="confirmPassword">
    <br>
    <button type="submit">Update your password</button>
</form>

{{#if message}}
<h4>{{message}}</h4>

{{/if}}