<div class="homeNav">

    <h1>🔗</h1>
    <ul>
        <li><a href="/support/faqs">Help?</a></li>
        <a href="/admin/links">Admin</a>
        <a href="/auth/logout">Log out</a>
    </ul>


</div>
<nav class="adminNav">
    <a href="/settings/profile">Edit Profile</a>
    <a href=" /settings/profile" class="menuNavBold">Change Password</a>
    <a href="/appearance">Appearance</a>
</nav>
<div class="editPassword">
    <h1>Update Password</h1>

    <form action="password" method="POST">
        <label for=""></label>
        <input type="password" name="oldPassword" placeholder="Old Password">
        <br>
        <label for=""></label>
        <input type="password" name="newPassword" placeholder="New Password">
        <br>
        <label for=""></label>
        <input type="password" name="confirmPassword" placeholder="Confirm New Password">
        <br>
        <button type="submit">Update your password</button>
    </form>
    {{#if message}}
    <h4>{{message}}</h4>
    {{/if}}
</div>

<footer class="footer">
    <h3>Company</h3>
    <ul>
        <li><a href="info/about">About</a></li>
        <li><a href="/">Press</a></li>
        <li><a href="info/contact">Contact</a></li>
        <li><a href="/">Linkme for business</a></li>
        <li><a href="/">Linkme for charity</a></li>
    </ul>
    <h3>Support</h3>
    <ul>
        <li><a href="support/faqs">FAQs</a></li>
        <li><a href="support/howto">How to?</a></li>
        <li><a href="/">Getting Started?</a></li>
        <li><a href="/">Help</a></li>
        <li><a href="/">Report Violation</a></li>
    </ul>
    <h3>Legal</h3>
    <ul>
        <li><a href="/">Terms and conditions</a></li>
        <li><a href="/">Privacy Policy</a></li>
    </ul>

</footer>