<div class="homeNav">

    <h1>Blink</h1>
    {{!-- <ul>
        <li><a href="support/faqs">Help</a></li>
        <a href="/">View your Profile</a>
        <a href="/auth/logout">Log out</a>
    </ul> --}}


</div>

<nav class="adminNav">
    <a href="/admin/links">My Links</a>
    <a href="/settings" class="menuNavBold">User Settings</a>
    <a href="/appearance">Appearance</a>
    <a href="/admin/analytics">Analytics</a>
</nav>

<div class="editPassword">
    <h1>Update Password</h1>

    <form action="password" method="POST">
        <label for=""></label>
        <input type="password" name="oldPassword" placeholder="Old Password">
        <br>
        <label for=""></label>
        <input type="password" name="newPassword" placeholder="New Password">
        <br>
        <label for=""></label>
        <input type="password" name="confirmPassword" placeholder="Confirm New Password">
        <br>
        <button type="submit">Update your password</button>
    </form>

    {{#if message}}
    <h4>{{message}}</h4>

    {{/if}}
</div>