SETTINGS PAGE
<Br><br>
<a href="/settings/profile">Edit Profile</a><Br>
<a href="/settings/password">Change Password</a><Br>
<a href="/settings/notifications">Notification Settings</a><Br>
<a href="/settings/privacy">Privacy settings</a><Br>