<div class="homeNav">

    <h1>Blink</h1>
    <ul>
        <li><a href="support/faqs">Help</a></li>
        <a href="/{{username}}">View your Profile</a>
        <a href="/auth/logout">Log out</a>
    </ul>


</div>

<nav class="adminNav">
    <a href="/admin/links">My Links</a>
    <a href="/settings" class="menuNavBold">Settings</a>
    <a href="/appearance">Appearance</a>
    {{!-- <a href="/admin/analytics">Analytics</a> --}}
</nav>
<div>
    <div class="settingsList">


        <Br><br>
        <a href="/settings/profile">Edit Profile</a><Br>
        <a href="/settings/password">Change Password</a><Br>
        <a href="/settings/notifications">Notification Settings</a><Br>
        <a href="/settings/privacy">Privacy settings</a><Br>
    </div>

    <footer class="footer">
        <h3>Company</h3>
        <ul>
            <li><a href="info/about">About</a></li>
            <li><a href="/">Press</a></li>
            <li><a href="info/contact">Contact</a></li>
            <li><a href="/">Linkme for business</a></li>
            <li><a href="/">Linkme for charity</a></li>
        </ul>
        <h3>Support</h3>
        <ul>
            <li><a href="support/faqs">FAQs</a></li>
            <li><a href="support/howto">How to?</a></li>
            <li><a href="/">Getting Started?</a></li>
            <li><a href="/">Help</a></li>
            <li><a href="/">Report Violation</a></li>
        </ul>
        <h3>Legal</h3>
        <ul>
            <li><a href="/">Terms and conditions</a></li>
            <li><a href="/">Privacy Policy</a></li>
        </ul>
    </footer>