Linkmee <a href="auth/login">Help</a> |
<a href="auth/signup">Sign up</a>
<a href="auth/login">Log in</a>
<br>
<a href="auth/logout">Log out</a>

<h3>Company</h3>
<ul>
    <li><a href="info/about">About</a></li>
    <li><a href="/">Press</a></li>
    <li><a href="info/contact">Contact</a></li>
    <li><a href="/">Linkme for business</a></li>
    <li><a href="/">Linkme for charity</a></li>
</ul>
<h3>Support</h3>
<ul>
    <li><a href="support/faqs">FAQs</a></li>
    <li><a href="support/howto">How to?</a></li>
    <li><a href="/">Getting Started?</a></li>
    <li><a href="/">Help</a></li>
    <li><a href="/">Report Violation</a></li>
</ul>
<h3>Legal</h3>
<ul>
    <li><a href="/">Terms and conditions</a></li>
    <li><a href="/">Privacy Policy</a></li>
</ul>