<!DOCTYPE html>
<html lang="en">

<head>

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body>
   {{#unless overrides}}
   {{!-- <div class="homepageNav">

      <h1>
         🔗</h1>

      <div class="hambContainer">
         <nav class="hambNav">
            <div class="hambMenu">
               <div class="line line-1"></div>
               <div class="line line-2"></div>
               <div class="line line-3"></div>

            </div>

            <ul class="nav-list">
               <li class="nav-item"><a class="nav-link nav-link-big" href="/{{user.user.username}}">Account</a>
               </li>
               <li class="nav-item"><a class="nav-link nav-link-big" href="/settings">settings</a></li>
               <li class="nav-item"><a class="nav-link nav-link-big" href="support/faqs">Help</a></li>
               <li class="nav-item">__</li>

               <li class="nav-item"><a class="nav-link nav-link-small" href="/auth/signup">Sign up</a></li>
               <li class="nav-item"><a class="nav-link nav-link-small" href="/auth/logout">Log in</a></li>
            </ul>
         </nav>
      </div> --}}

   {{/unless}}
   {{!-- <ul>
        <li class="menu-item"><a href="support/faqs">Help</a></li>
        <li class="menu-item"><a href="/admin">Account</a> </li>
        <li class="menu-item"><a href="auth/signup">Sign up</a></li>
        <li class="menu-item"> <a href="auth/login">Log in</a></li>
    </ul> --}}


   </div>

   <br><br>

   {{{body}}}
   {{#unless overrides}}
   <script src="/javascripts/menu.js"></script>
   {{/unless}}
</body>

</html>