Admin page
<a href="/">Links</a>
<a href="admin/settings">Settings</a>
<a href="admin/appearance">Appearance</a>
<a href="admin/analytics">Analytics</a>
<br>
<a href="/">View your profile</a>
<br>

<a href="/auth/logout">Log out</a>