body {
  margin: -33px 0 0 0;
  padding: 0px;
  font: 14px;
  font-family: Helvetica, sans-serif;
}

.hambMenu {
  z-index: 1;
}

.homepageNav {
  display: flex;
  position: fixed;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  /* border-bottom: 1px solid rgb(201, 201, 201); */
  color: white;
  justify-content: space-between;
  margin-top: -1px;
  width: 100vw;
  padding: 22px 12px;
  height: 50px;
  /* z-index: -1; */
}

.homeNav {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  /* border-bottom: 1px solid rgb(201, 201, 201); */
  color: rgb(0, 0, 0);
  justify-content: space-between;
  margin-top: -1px;
}

.homeNav ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
}

.homeNav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-right: 10px;
}

.homeNav h1 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  padding-left: 10px;
}

.feature1 {
  height: 700px;
  background-color: rgb(255, 255, 255);
  margin-top: -90px;
  font-size: 17px;
}

.signUpButton {
  text-decoration: none;
  font-size: 13px;
  background-color: rgb(255, 137, 239);
  height: 30px;
  color: white;
  width: 90px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.learnMore {
  text-decoration: underline;
  font-size: 13px;
}

.feature1 h2 {
  width: 80vw;
  text-align: center;
  font-size: 15px;
  margin-top: -5px;
}

.feature1 h3 {
  width: 60vw;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

.feature2 {
  height: 700px;
  background-color: rgb(255, 126, 169);
}

.feature3 {
  height: 700px;
  background-color: rgb(101, 250, 146);
}

/** footer styling **/
.footer {
  margin-top: -33px;
  padding: 30px 0px 0px 20px;
  background-color: black;
  color: white;
}

.footer h3 {
  color: grey;
  padding-top: 25px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 3;
  padding-left: 15px;
}

/** auth styling **/

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  background-color: rgb(248, 248, 248);
  height: 100vh;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login h1 {
  font-size: 35px;
}

.login h2 {
  font-size: 40px;
}

.login input {
  width: 88vw;
  height: 50px;
  border-radius: 11px;
  border: 0.6px solid rgb(207, 207, 207);
  padding-left: 20px;
}

.loginLogo {
  text-decoration: none;
}

.login button {
  margin-top: 30px;
  width: 220px;
  height: 40px;
  border-radius: 14px;
  background-color: rgb(255, 137, 239);
  border: none;
  color: white;
  font-size: 18px;
}

.login a {
  color: #5941a9;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  background-color: rgb(248, 248, 248);
  height: 100vh;
}

.signup hr {
  width: 80vw;
  margin-bottom: 20px;
}

.signup h2 {
  text-align: center;
  font-size: 29px;
  margin-bottom: 50px;
}

.signup h1 {
  font-size: 35px;
}

.signup input {
  width: 88vw;
  height: 50px;
  border-radius: 11px;
  border: 0.6px solid rgb(207, 207, 207);
  padding-left: 20px;
}

/* .signUpDiv {
  background-color: white;
} */

/* .signup :placeholder-shown {
  color: red;
} */

input::placeholder {
  color: black;
  font-size: 15px;
}

/* .uploadImage {
  display: flex;
  flex-direction: ro;
} */

.signup button {
  margin-top: 30px;
  width: 220px;
  height: 40px;
  border-radius: 14px;
  background-color: rgb(255, 137, 239);
  border: none;
  color: white;
  font-size: 18px;
}

.signup p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
  padding: 0px 40px;
}

.signup a {
  display: inline;
  color: #5941a9;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.signupError {
  color: rgb(255, 116, 116);
  font-size: 24px;
  padding-bottom: 5px;
}

.admin {
  background-color: red;
}

.linkForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsList {
  height: 800px;
  background-color: black;
  padding-left: 30px;
}

.settingsList a {
  color: white;
  font-size: 35px;
  text-decoration: none;
}

.adminNav {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(194, 194, 194);
  border-top: 1px solid rgb(194, 194, 194);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.adminNavAdminLinks {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(194, 194, 194);
  border-top: 1px solid rgb(194, 194, 194);
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  margin-top: -5px;
}

.adminNavAdminLinks a {
  margin: 0px 10px;
  text-decoration: none;
  color: black;
}

.adminHambMenu {
  height: 50px;
}

.adminHambMenu h1 {
  padding-left: 15px;
  font-size: 33px;
}

.linkForm input {
  margin-top: 5px;
  width: 80vw;
  height: 20px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  border: 1px solid rgb(158, 158, 158);
}

.linkForm button {
  border: none;
}

.adminNav a {
  margin: 0px 10px;
  text-decoration: none;
}

.menuNavBold {
  font-weight: 700;
}

.adminPage h2 {
  font-size: 15px;
}

.analyticsPage {
  height: 800px;
}

.appearancePage {
  height: 800px;
}

a {
  color: rgb(36, 94, 255);
  font-size: 15px;
}

h1 {
  color: 15px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.addinLinkTab {
  background-color: rgb(238, 238, 238);
  padding: 10px;
  margin: 10px auto;
  border-radius: 15px;
}

.linksPage {
  width: 92vw;
  margin: 0px auto;
}

.linksPage h2 {
}

.admin-link {
  background-color: rgb(223, 223, 223);
  /* padding: 5px 0px; */
  margin: 10px 0px;
  border-radius: 15px;
  border: 3px solid rgba(0, 0, 0, 0.144);
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.admin-link-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.admin-link-updates {
  display: flex;
  align-items: center;
}

.admin-link a {
  font-size: 12px;
  text-decoration: none;
}

.addLinkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 145, 255);
  border-radius: 12px;
  height: 50px;
  color: rgb(255, 255, 255);
  margin: 35px auto;
}

.addCollectionButton {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px auto;
  border-radius: 12px;
  height: 40px;
  color: rgb(91, 107, 255);
  margin: 20px auto;
}

.drop-zone {
  color: blue;
}

.drop-zone--over {
  opacity: 0.5;
}

.user-collections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
}

.user-collections a {
  color: black;
  text-decoration: none;
}

.collection {
  background-color: white;
  padding: 13px 20px;
  margin: 5px;
  color: black;
  text-decoration: none;
  border: 0.5px rgba(194, 194, 194, 0.541) solid;
  border-radius: 23px;
  font-weight: 400;
}

.collection-admin-text {
  margin: 0px;
  color: white;
  font-size: 0.5em;
}

/** User profile styling **/

.userProfileIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px auto;
}

.userProfileIntro img {
  width: 120px;
  border-radius: 50%;
}

.userProfileIntro h1 {
  margin-bottom: -2px;
  font-size: 1.5em;
}

.userProfileIntro h3 {
  margin-bottom: -2px;
  font-size: 0.9em;
  width: 70vw;
  text-align: center;
}

.userProfileLink a {
  text-decoration: none;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 97vw;
  height: 70px;
  border: 2.5px solid black;
  border-radius: 18px;
  margin: 10px auto;
  font-size: 10px;
  color: black;
}

.linkContainer:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 97vw;
  height: 70px;
  border: 3px solid black;
  border-radius: 14px;
  margin: 10px auto;
  font-size: 10px;
  color: white;
}

.collectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 137, 239);
  width: 20vw;
  height: 40px;
  border: 3px solid black;
  border-radius: 25px;
  margin: 2px 5px;
  font-size: 8px;
  color: rgb(0, 0, 0);
}

.collectionContainer:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 40px;
  border: 3px solid black;
  border-radius: 25px;
  margin: 2px 5px;
  font-size: 8px;
  color: rgb(0, 0, 0);
}

/* .collectionContainer:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 20vw;
  height: 40px;
  border: 3px solid rgb(255, 81, 246);
  border-radius: 14px;
  margin: 10px 5px;
  font-size: 8px;
  color: rgb(250, 61, 203);
} */

.collections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 97vw;
}

#add-new-collection {
  background-color: rgba(194, 194, 194, 0.541);
}

.menuButton {
  background-color: white;
  width: 50px;
  height: 30px;
  margin: 5px;
  width: 80px;
  border-radius: 15px;
}

.menuButton a {
  text-decoration: none;
  color: black;
}

.feature1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.appearancePage {
  padding: 15px;
}

.appearancePage h1 {
  font-size: 15px;
  font-weight: bold;
}

.appearancePage h2 {
  font-size: 25px;
  font-weight: bold;
}

.appearancePage img {
  border-radius: 20%;
  width: 100px;
}

.appearancePage button {
  background-color: white;
}

#add-new-collection {
}

.homepageNav {
}

.hambMenu {
  width: 25px;
  height: 30px;
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 3px;
  background-color: rgb(141, 141, 141);
  transition: all 0.5s;
}

.change .line-1 {
  transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(45deg) translate(-8px, -6px);
}

.hambNav {
  width: 300px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

.change {
  right: 0;
}

.nav-list {
  text-align: left;
}

.nav-item {
  list-style: none;
  margin: 25px 35px;
}

.nav-link {
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: rgb(251, 212, 255);
}

.nav-link-small {
  font-size: 20px;
  text-transform: capitalize;
}

.nav-link-big {
  font-size: 30px;
  text-transform: capitalize;
}

.editProfile {
  margin: 10px 0px 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editPassword {
  margin: 10px 0px 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editPassword input {
  background-color: rgb(241, 241, 241);
  width: 90vw;
  height: 55px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.116);
  padding-left: 20px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-top: 5px;
}

.editPassword button {
  text-decoration: none;
  font-size: 13px;
  background-color: rgb(104, 104, 206);
  height: 30px;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 20px 20px;
}

.editPassword form {
  display: flex;
  flex-direction: column;
}

.editProfile h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.editProfile h2 {
  font-size: 17px;
  padding-top: 15px;
}

.editProfile input {
  background-color: rgb(241, 241, 241);
  width: 90vw;
  height: 55px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.116);
  padding-left: 20px;
  font-size: 15px;
  color: black;
}

.editProfile button {
  text-decoration: none;
  font-size: 13px;
  background-color: rgb(104, 104, 206);
  height: 30px;
  color: white;
  width: 90px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.analyticsPage {
  height: 700px;
}

.adminNavNew {
  height: 50px;
}

/* .hambContainerAdmin {
  background-color: green;
} */
