<div class="menuButton">
    <button type="button"><a href="/admin/links">Home</a></button>
</div>

<div class="userProfileIntro">
    <img src="{{foundUser.profilePic}}">
    <h1>@{{foundUser.username}}</h1>
    <h3>{{foundUser.bio}}</h3>
</div>

<div class="userProfileLink">
    <h3>{{foundUser.links.2.ObjectId}}</h3>

</div>